<div class="card">
  <div class="header">
    <app-navbar></app-navbar>
    <app-settings></app-settings>
  </div>	
  <div class="content">
    <a [routerLink]="['/']" routerLinkActive="router-link-active"></a>
    <a [routerLink]="['/create']" routerLinkActive="router-link-active"></a>
    <a [routerLink]="['/change']" routerLinkActive="router-link-active"></a>
    <a [routerLink]="['/simulation']" routerLinkActive="router-link-active"></a>
    <a [routerLink]="['/simulation/:id']" routerLinkActive="router-link-active"></a>
    <router-outlet></router-outlet>
  </div>
</div>